/* 
 Jesse James 
 3-7-2013 
 MiU Project 1 1303 
*/

.ui-bar-a {
	border: 1px solid #b3b3b3 /*{a-bar-border}*/;
	background: #eeeeee /*{a-bar-background-color}*/;
	color: #f18009 /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ #ffffff /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{a-bar-background-start}*/), to( #bebebe /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{a-bar-background-start}*/, #bebebe /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{a-bar-background-start}*/, #bebebe /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{a-bar-background-start}*/, #bebebe /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{a-bar-background-start}*/, #bebebe /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{a-bar-background-start}*/, #bebebe /*{a-bar-background-end}*/);
}
.ui-bar-a .ui-link-inherit {
	color: #f18009 /*{a-bar-color}*/;
}

.ui-bar-a a.ui-link {
	color: #7cc4e7 /*{a-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-a a.ui-link:visited {
    color: #2489ce /*{a-bar-link-visited}*/;
}

.ui-bar-a a.ui-link:hover {
	color: #2489ce /*{a-bar-link-hover}*/;
}

.ui-bar-a a.ui-link:active {
	color: #2489ce /*{a-bar-link-active}*/;
}

.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-a,
.ui-overlay-a {
	border: 1px solid #165e7c /*{a-body-border}*/;
	color: #ffffff /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #444444 /*{a-body-shadow-color}*/;
	background: #29abe2 /*{a-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #2dbcf8 /*{a-body-background-start}*/), to( #2499cb /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #2dbcf8 /*{a-body-background-start}*/, #2499cb /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #2dbcf8 /*{a-body-background-start}*/, #2499cb /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #2dbcf8 /*{a-body-background-start}*/, #2499cb /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #2dbcf8 /*{a-body-background-start}*/, #2499cb /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #2dbcf8 /*{a-body-background-start}*/, #2499cb /*{a-body-background-end}*/);
}
.ui-overlay-a {
	background-image: none;
	border-width: 0;
}
.ui-body-a,
.ui-body-a input,
.ui-body-a select,
.ui-body-a textarea,
.ui-body-a button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-a .ui-link-inherit {
	color: #ffffff /*{a-body-color}*/;
}

.ui-body-a .ui-link {
	color: #f7931e /*{a-body-link-color}*/;
	font-weight: bold;
}

.ui-body-a .ui-link:visited {
    color: #a05f13 /*{a-body-link-visited}*/;
}

.ui-body-a .ui-link:hover {
	color: #FFa922 /*{a-body-link-hover}*/;
}

.ui-body-a .ui-link:active {
	color: #f7931e /*{a-body-link-active}*/;
}

.ui-btn-up-a {
	border: 1px solid #f7931e /*{a-bup-border}*/;
	background: #f7931e /*{a-bup-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #444444 /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFa121 /*{a-bup-background-start}*/), to( #de841b /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFa121 /*{a-bup-background-start}*/, #de841b /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFa121 /*{a-bup-background-start}*/, #de841b /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFa121 /*{a-bup-background-start}*/, #de841b /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFa121 /*{a-bup-background-start}*/, #de841b /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFa121 /*{a-bup-background-start}*/, #de841b /*{a-bup-background-end}*/);
}
.ui-btn-up-a:visited,
.ui-btn-up-a a.ui-link-inherit {
	color: #ffffff /*{a-bup-color}*/;
}
.ui-btn-hover-a {
	border: 1px solid #FFa922 /*{a-bhover-border}*/;
	background: #FFa922 /*{a-bhover-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ #444444 /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFb925 /*{a-bhover-background-start}*/), to( #e5981e /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFb925 /*{a-bhover-background-start}*/, #e5981e /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFb925 /*{a-bhover-background-start}*/, #e5981e /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFb925 /*{a-bhover-background-start}*/, #e5981e /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFb925 /*{a-bhover-background-start}*/, #e5981e /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFb925 /*{a-bhover-background-start}*/, #e5981e /*{a-bhover-background-end}*/);
}
.ui-btn-hover-a:visited,
.ui-btn-hover-a:hover,
.ui-btn-hover-a a.ui-link-inherit {
	color: #ffffff /*{a-bhover-color}*/;
}
.ui-btn-down-a {
	border: 1px solid #FFa922 /*{a-bdown-border}*/;
	background: #FFa922 /*{a-bdown-background-color}*/;
	font-weight: bold;
	color: #000000 /*{a-bdown-color}*/;
	text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 0 /*{a-bdown-shadow-radius}*/ #eeeeee /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e5981e /*{a-bdown-background-start}*/), to( #FFb925 /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #e5981e /*{a-bdown-background-start}*/, #FFb925 /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #e5981e /*{a-bdown-background-start}*/, #FFb925 /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #e5981e /*{a-bdown-background-start}*/, #FFb925 /*{a-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #e5981e /*{a-bdown-background-start}*/, #FFb925 /*{a-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #e5981e /*{a-bdown-background-start}*/, #FFb925 /*{a-bdown-background-end}*/);
}
.ui-btn-down-a:visited,
.ui-btn-down-a:hover,
.ui-btn-down-a a.ui-link-inherit {
	color: #000000 /*{a-bdown-color}*/;
}
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}
